.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.box{
    border: 1px solid black;
    width: 500px;
}
.box h1 {
    font-size: 24px;
    margin: 0;
    flex-shrink: 0;
}

.box h2 {
    font-size: 18px;
    margin: 10px 0;
    flex-shrink: 0;
}
.item-img{
    width: 400px;
}
.main{
    display: flex;
    justify-content: center;
    gap: 30px;   /* ← 간극 추가 */
}
.button-container {
    margin-top: 20px;
    text-align: center;
}
.win {
    border: 10px solid green;
    color: green;
}
.lose {
    border: 10px solid red;
    color: red;
}
.tie {
    border: 10px solid black;
    color: black;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 90vw;
        height: 400px;
    }
}
